
.nav_list{
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
}
.nav_list a {
    font-size: 0.85em;
}
.nav_brand{
    margin-right: 20px;

}
.nav_brand a{
    font-family: 'Damion', cursive;
    font-size: 1.7em;
}
.text_after{
    text-align: center;
    margin-top: 80px;
    font-size: 1em;
    font-family: 'Lora', serif;
}
.h3Text{
    font-family: 'Caveat', cursive;
    font-size: 1.3em;
    color: #da806b;
    margin-top: -12px;
}
.see_more a{
    text-decoration: none;
    margin-right: 120px; 
    margin-top: 15px; 
    font-family: 'Caveat', cursive; 
    color: #da806b;
    border-bottom: none;
    font-size: 1.4em;
}


.head_three{
    font-family: 'Cormorant Unicase', serif;
}

.coloumthree{
    margin-top: 130px;
}
.head_insta{
    font-family: 'Cormorant Unicase', serif;
}

.p_parallax{
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    color: #ffff;
    text-transform: uppercase;
    vertical-align: middle;
    margin-bottom: -10px;
    margin-left: 60px;
    letter-spacing: 3px;
    padding: 0;

}
.pera_p{
    font-family: 'Fjalla One', sans-serif;
    color: #ffffff;
    font-size: 1.5em;
    margin-left: 60px;
    padding: 0;
    text-align: justify;


}

/*email*/
.email_enter{
    vertical-align: middle;
}

/*contect us form*/

/*testing*/
.head_3 a{
    text-decoration: none;
    border-bottom: none;
    color: black;
    
}
/*testing end*/

/*insta edit*/


/* parallex effect start*/

.parallax-window {
    min-height: 550px;
    background: transparent;
}
.parallax-window_ser {
    min-height: 660px;
    background: transparent;
}
/* parallex effect end start*/

/* FAQs start */
.faqs_head{
    font-family: 'Cormorant Unicase', serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.Q{
    margin: 25px;
    font-family: 'Lora', serif;
}
.que{
    font-weight: bold;
}
/* FAQs end */

/*book us*/
.get_in_touch{
    font-family: 'Cormorant Unicase', serif;
    color: rgb(99, 98, 98);
}
.email_phoone{
    color: #da806b;
    font-size: 13px;
    font-family: 'Lora', serif;

}
/*book us*/

/* book us */
/*-----------------------------------------------------*/
.place_holder{
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}




/*-----------------------------------------------------*/
/* book us end */

.h3Text{
    margin-top: 20px;
}
.img-darken{
    transition: 1s;
    filter: brightness(10%);
}
.see_more{
    text-decoration: none;
    text-align: end;
    }
/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}

/* css of old project */

.upper_img-contener{
    display: grid;
}

.upper_img-contener{
grid-template-columns: 1fr 1fr 1fr;
}
.content_img{
    margin-left: 5em;
    margin-right: 5em;
}

@media only screen and (max-width: 600px){
    .upper_img-contener{
        grid-template-columns: 1fr;
    }
    .content_img{
        margin-right: 0em;
        margin-left: 0em;
    }
}

.imagegrid{
    position: relative;
}
.img_display_bacground{
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sury_nav{
    width: 70px;
    top: 0;
    clip-path: circle();
    margin-right: 10px;
}
.brand{
    margin-top: 30px;
    margin-right: 10px;
}
.right_side{
    display: flex;
}   
.insdie_img{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;

}

.imagegrid .content{
    transition: 1s;
    font-weight: 600;
    color: transparent;
    text-align: center;
}
.imagegrid{
    margin: 1px auto;
}

.imagegrid:hover .content{
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.activelink{
    border-bottom: 1px black;
}

.activelink a{
    color: black ;
}

.img-darken{
    transition: 1s;
    filter: brightness(10%);
}

.upper_img-contener2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profile_content h1{
    color: rgb(226, 101, 43);
}

/*------------------------------------------service start--------------------------------------------------*/

.ser_parallex{
    text-align: center;
    color: white;
    font-size: 6em;
    padding-top: 230px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 6px;
}
.small_screen{
    display: none;
}

.btn_photo{
    text-align: center;
}

.img_service{
    width: 100%;
    padding-top: 42%;
    background: url('img/1.jpg') no-repeat center;
    background-size: cover; 
}
.container1{
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 80vh;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    line-height: 0;
  }
  
  .box > img {
    width: 200%;
    height: calc(100% - 10vh);
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.5s;
  }
  
  .box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }
  
  .box:hover {
    flex: 1 1 50%;
  }
  
  .box:hover > img {
    width: 100%;
    height: 100%;
  }
  @media only screen and (max-width: 600px){
    .big_screen{
        display: none;
    }
    .small_screen{
        display: inline;
    }
  }

/*------------------------------------------service start--------------------------------------------------*/

/*------------------------------------------About us start--------------------------------------------------*/
.fit-img{
    width: 100%;
    object-fit: cover;
     /* only if you want fixed height */
    }
.head-about{
    color: rgb(169, 166, 166);
    letter-spacing: 2px;
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
}
    
/*------------------------------------------About us end--------------------------------------------------*/
